.app{
    background-color: #fb7299;
    color: white;

    .banner{
        width: 100%;
    }
    .footer{
        display: flex;
        height: 56px;
        justify-content: center;
        align-items: center;
        
    }
}